.countermain, button{
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.countermain{
    text-align: center;
    width: 200px;
    height: 150px;
    padding: 1rem 1rem;
    margin: 3rem auto; 
    background-color: rgba(0,0,0,0.1);
}

button{
    border: none;
    width: 3rem;
    margin: .3rem;
    background-color: white;  
}

button:hover{
  background-color: greenyellow;
}
